# Entorno virtual
env/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de logs
*.log

# Archivos de configuración de IDE
.vscode/
.idea/

# Staticfiles generados por collectstatic
staticfiles/

# NO ignorar carpeta static creada por ti
!static/
!static/**

# Permitir archivos ML (PKL, modelos, datasets procesados)
!biblioteca/ml/
!biblioteca/ml/*.pkl


