# Entorno virtual
env/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Configuración de IDE
.vscode/
.idea/

# Staticfiles generados por collectstatic
staticfiles/

# NO ignorar carpeta static creada por ti
!static/
!static/**

# Permitir carpeta ML pero ignorar archivos pesados
biblioteca/ml/
!biblioteca/ml/          # permite la carpeta
biblioteca/ml/*.pkl      # ignora archivos .pkl
biblioteca/ml/*.joblib   # ignora archivos .joblib
biblioteca/ml/*.csv      # ignora datasets grandes

# Ignorar TODOS los .pkl y .joblib del proyecto
*.pkl
*.joblib

# Archivos que jamás deben subirse
*.sqlite3
*.db
*.DS_Store



