/* Fondo cálido */
body.bg-light-pink {
  background-color: #fff8f6;
}
.title-cozy {
  color: #d28cb0; /* Rosa pastel lavanda */
  font-family: 'Segoe UI', Tahoma, sans-serif;
  font-weight: bold;
}


