body {
    margin: 0;
    background-color: #faf9f6;
    font-family: 'Georgia', serif;
}

.hero {
    background-image: url('../img/hero-inicio.jpg'); 
    background-size: cover;
    background-position: center;
    padding: 6rem 1rem;
    color: #6a4e42;
    text-align: center;
}


.hero-text {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 2rem;
    border-radius: 10px;
    display: inline-block;
    max-width: 700px;
}

.btn-custom {
    border-radius: 30px;
    padding: 0.5rem 1.5rem;
}

.btn-light {
    background-color: #fef6f9;
    color: #5a4a58;
    border-color: #eecfd6;
    font-weight: 500;
}

.dropdown-menu {
    font-size: 0.95rem;
    border-radius: 12px;
}

.dropdown-item:hover {
    background-color: #fbeff2;
}

