.login-container {
    width: 100%;
    max-width: 500px;
    background: white;
    padding: 2.5rem;
    border-radius: 1.5rem;
}

.login-container input {
    width: 100%;
    border-radius: 12px;
    padding: 0.7rem 1rem;
    border: 1px solid #ccc;
    background: #f8f9fa;
}

.login-container input:focus {
    border-color: #a1c4ff;
    box-shadow: 0 0 3px rgba(100, 150, 255, 0.6);
}

.btn-custom {
    background-color: #3fb064;
    color: white;
    padding: 0.7rem;
    border-radius: 999px;
    font-weight: 600;
}

.btn-custom:hover {
    opacity: 0.9;
}

